<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">NOME DA APLICAÇÃO</a>
    <form class="form-inline">
        <div class="row">
            <button class="btn btn-outline-success">Registro</button>
            <button class="btn btn-outline-primary">Login</button>
        </div>
    </form>
</nav>

<main>
    <h1>COISAS AQUI</h1>
</main>

<footer class="p-3 mb-2 bg-dark text-light">
    DESENVOLVIDO POR: "NOME DOS INTEGRANTES"<br>
    UNIVERSIDADE FEDERAL DE ITAJUBÁ - UNIFEI - MG<br>
    TRABALHO FINAL DE COM222
</footer>