<div class="container">
    <div class="row">
        <div class="col-sm-3 mt-5">
            <div class="card botoes-menu-principal">
                <img class="card-img-top imagem-menu-principal" src="../../assets/images/xbox-logo.png"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">Xbox</p>
                    <button class="btn btn-primary text-center botao-menu-principal"
                        routerLink='/lista-jogos'>Selecionar Console</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-5">
            <div class="card botoes-menu-principal">
                <a href="#"><img class="card-img-top imagem-menu-principal"
                        src="../../assets/images/playstation-logo.png" alt="Card image cap" style="width: 194px;"></a>
                <div class="card-body">
                    <p class="card-text text-center">Playstation</p>
                    <button class="btn btn-primary text-center botao-menu-principal"
                        routerLink='/lista-jogos'>Selecionar Console</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-5">
            <div class="card botoes-menu-principal">
                <img class="card-img-top imagem-menu-principal" src="../../assets/images/switch-logo.png"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">Nintendo Switch</p>
                    <button class="btn btn-primary text-center botao-menu-principal"
                        routerLink='/lista-jogos'>Selecionar Console</button>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mt-5">
            <div class="card botoes-menu-principal">
                <img class="card-img-top imagem-menu-principal" src="../../assets/images/computer-logo.png"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">Computador</p>
                    <button class="btn btn-primary text-center botao-menu-principal"
                        routerLink='/lista-jogos'>Selecionar Console</button>
                </div>
            </div>
        </div>
    </div>
</div>