<div class="row">
    <div class="col-md-3 mt-5">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/xbox.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">XBox</p>
                <button type="submit" class="btn btn-primary text-center" (click)="onSubmit()">Selecionar</button>
            </div>
        </div>

        <div class="col-md-3 mt-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/sony.webp" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">Playstation</p>
                    <button type="submit" class="btn btn-primary text-center" (click)="onSubmit()">Selecionar</button>
                </div>
            </div>
        </div>


        <div class="col-md-3 mt-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/nintendo.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">Nintendo Switch</p>
                    <button type="submit" class="btn btn-primary text-center" (click)="onSubmit()">Selecionar</button>
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/pc.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center">PC</p>
                    <center><button type="submit" class="btn btn-primary text-center" (click)="onSubmit()">Selecionar</button></center>
                </div>
            </div>
        </div>

    </div>