<div class="card">
    <div class="card-header">
        Registro de Novos Jogos
    </div>
    <div class="card-body">
        <form #orderForm="ngForm">
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="select-console">Selecione o tipo do Console:</label>
                    <select id="select-console" class="browser-default custom-select" [(ngModel)]="jogoModel.console"
                        name="console" >
                        <option selected value="-1">Selecione...</option>
                        <option value="xbox">Xbox</option>
                        <option value="playstation">Playstation</option>
                        <option value="switch">Switch</option>
                        <option value="pc">PC</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="nomeRegistro ">Título</label>
                    <input type="text " class="form-control " id="titulo " aria-describedby="titulo "
                        [(ngModel)]="jogoModel.titulo " name="titulo" >
                </div>

                <div class="col-md-6">
                    <label for="emailRegistro ">Resumo</label>
                    <input type="email " class="form-control " id="resumo" aria-describedby="resumo"
                        [(ngModel)]="jogoModel.resumo" name="resumo" >
                </div>

                <div class="col-md-3 mt-4">
                    <label for="senhaRegistro ">Desenvolvedor</label>
                    <input type="password " class="form-control " id="dev" [(ngModel)]="jogoModel.dev " name="dev" >
                </div>

                <div class="col-md-3 mt-4">
                    <label for="select-console">Selecione o Gênero:</label>
                    <select id="select-console" class="browser-default custom-select" [(ngModel)]="jogoModel.genero"
                        name="genero" >
                        <option selected value="-1">Selecione...</option>
                        <option value="Acao">Ação</option>
                        <option value="Aventura">Aventura</option>
                        <option value="Estrategia">Estratégia</option>
                        <option value="Rpg">RPG</option>
                        <option value="Esporte">Esportes</option>
                        <option value="Simulacao">Simulação</option>
                    </select>
                </div>
            </div>

            <button type="submit " class="btn btn-primary " (click)="onSubmit() ">Cadastrar Jogo</button>
        </form>
    </div>
</div>