/* AppComponent's private CSS styles */

h1 {
    font-size: 1.2em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
}

.nav-link {
    color: #ffffff;
}

nav a.active {
    color: #039be5;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.botao-login {
    margin-right: 1.5em;
}

.botao-cadastro {
    margin-right: 1.5em;
}

.imagem-logo {
    width: 50px;
}