<div class="container">
    <div class="row">
        <div class="card col-sm-3 mt-5" style="width: 18rem;">
            <a routerLink="/lista-reviews"><img src="..." class="card-img-top" alt="Imagem do Jogo"></a>
            <div class="card-body">
                <h5 *ngIf="teste" class="card-title"><a routerLink="/lista-reviews">{{teste.tituloJogo}}</a></h5>
                <p class="card-text">Resumo.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Desenvolvedor</li>
                <li class="list-group-item">Gênero</li>
                <li class="list-group-item">Avaliação</li>
            </ul>
        </div>

        <div class="card col-sm-3 mt-5" style="width: 18rem; margin-left: auto">
            <a routerLink="/lista-reviews"><img src="..." class="card-img-top" alt="Imagem do Jogo"></a>
            <div class="card-body">
                <h5 class="card-title"><a routerLink="/lista-reviews">Nome do Jogo</a></h5>
                <p class="card-text">Resumo.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Desenvolvedor</li>
                <li class="list-group-item">Gênero</li>
                <li class="list-group-item">Avaliação</li>
            </ul>
        </div>

        <div class="card col-sm-3 mt-5" style="width: 18rem; margin-left: auto">
            <a routerLink="/lista-reviews"><img src="..." class="card-img-top" alt="Imagem do Jogo"></a>
            <div class="card-body">
                <h5 class="card-title"><a routerLink="/lista-reviews">Nome do Jogo</a></h5>
                <p class="card-text">Resumo.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Desenvolvedor</li>
                <li class="list-group-item">Gênero</li>
                <li class="list-group-item">Avaliação</li>
            </ul>
        </div>
    </div>
</div>