<div class="card">
    <h5 class="card-header">Criar Review</h5>
    <div class="card-body">
        <form #orderForm="ngForm">
            <div class="form-group">
                <label for="reviewJogo">Nome</label>
                <input type="text" class="form-control" id="reviewJogo" aria-describedby="review_jogo" [(ngModel)]="reviewModel.review" name="review">
            </div>
            <div class="form-group">
                <label for="rating_jogo">Avaliação</label>
                <input type="number" class="form-control" id="rating_jogo" aria-describedby="rating_help" [(ngModel)]="reviewModel.nota" min="1" max="10" name="nota">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Registrar Review</button>
        </form>
    </div>
</div>